:root {
	font-family: sans-serif;

	--color-theme: #142338;
	--color-theme-text: #fff;
	--color-theme-lighter: #1c2c4a;
	--color-theme-bright: #446bb4;
	--color-theme-bright-transparent-25: rgba(68, 107, 180, 0.25);
	--color-theme-darker: #0e1a2c;

	--text-shadow-brighten: 0 0 20px rgba(255, 255, 255, 0.25);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;

	overflow-x: hidden;
}

h1,
h2,
h3 {
	margin: 0;
	text-align: center;
}

h1 {
	font-size: 3em;
	font-weight: bold;
}

h2 {
	font-size: 2.5em;
	font-weight: bold;
}

h3 {
	font-size: 1.2em;
	font-weight: bold;
}

textarea,
button,
input,
select {
	font-family: inherit;
}

button.primary {
	background: var(--color-theme);
	color: white;
	border-radius: 0.25em;
	padding: 0.5em 1em;
	font-size: 1.15em;
	font-weight: bold;
	border: none;
	border-radius: 0.25em;
	cursor: pointer;
	box-shadow:
		0 0 0.5em rgba(0, 0, 0, 0.25),
		inset 0 0 0.5em rgba(255, 255, 255, 0.25),
		0 0 0.5em rgba(0, 0, 0, 0.25),
		inset 0 0 0.5em rgba(255, 255, 255, 0.25);
	text-shadow: var(--text-shadow-brighten);
}

button.primary:hover {
	filter: brightness(0.8) drop-shadow(0 0 0.5em rgba(0, 0, 0, 0.25));
}
